name: Linux Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:24.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Clone ImGui
      run: |
        git clone https://github.com/ocornut/imgui.git
        mv imgui ./ConnectTool/imgui

    - name: Install dependencies
      run: |
        apt-get update
        apt-get install -y build-essential cmake libgl1-mesa-dev libglfw3-dev

    - name: Create build directory
      run: mkdir build && cd build

    - name: Configure CMake
      run: cmake .. -DCMAKE_BUILD_TYPE=Release

    - name: Build project
      run: cmake --build . --config Release -- -j $(nproc)

    - name: Run tests (optional)
      run: ./bin/ConnectTool --test  # 根据实际测试命令修改
